Debug/
Release/
*.o
*.d
*.elf
*.map
*.list
*.su

# written by the pre-build step, tools/build_id.sh
/Core/Inc/build_id.h

# STM32 packages, fetched into the docker build context by CI
/docker/*.zip

# noisy cubeide settings without functional impact
/.settings/language.settings.xml
/.settings/com.st.stm32cube.ide.mcu.sfrview.prefs
/.settings/stm32cubeide.project.prefs
